.cart {
  display: flex;
  gap: 128px;
  margin-top: 96px;
  margin-bottom: 128px;
  width: 100%;

  &-product {
    display: flex;
    flex-direction: column;
    align-items: start;
    align-items: center;
    width: 100%;
    gap: 40px;
    &__img {
      width: 262px;
    }
    &__item {
      display: flex;
      flex-direction: row;
      box-shadow: 8px 8px 21px rgba(0, 0, 0, 0.13);
      position: relative;
    }
    &__close-btn {
      position: absolute;
      top: 28px;
      right: 22px;
      width: 18px;
      z-index: 1;
    }
    &__close-btn:hover path {
      fill: $mainColor;
    }
    &__title {
      @include text_style(24px, 400, #222);
      padding-right: 125px;
      margin-top: 22px;
      margin-bottom: 42px;
    }

    &__ul {
      display: flex;
      flex-direction: column;
      list-style-type: none;
      width: 390px;
      gap: 6px;
    }
    &__li {
      @include text_style(22px, 400, #575757);
      &_price {
        @include text_style(22px, 400, #ef5b70);
      }

      &_attribute {
        color: #6f6e6e;
      }
      &_quantity {
        color: #6f6e6e;
        border: 1px solid #eaeaea;
        width: 44px;
        text-align: center;
      }
      &_quantity::-webkit-outer-spin-button,
      &_quantity::-webkit-inner-spin-button {
        -webkit-appearance: none;
      }
    }
    &__btns {
      display: flex;
      justify-content: space-around;
      width: 100%;
    }
  }
  &-shipping {
    display: flex;
    flex-direction: column;
    width: 50%;
    &__title {
      @include text_style(24px, 400, #222);
    }
    &__form {
      display: flex;
      flex-direction: column;
      gap: 21px;
      margin-bottom: 57px;
    }
    &__input {
      @include main_input;
    }
    &__input::placeholder {
      @include main_input_placeholder;
    }
    &__input:hover::placeholder {
      @include main_input_placeholder_hover;
    }
    &__total {
      background-color: #f5f3f3;
    }
    &__total-box {
      display: flex;
      align-items: end;
      flex-direction: column;
      gap: 12px;
      padding: 39px 0px 21px 0px;
      border-bottom: 1px solid #e2e2e2;
      margin-right: 42.5px;
      margin-left: 42.5px;
    }
    &__sub-total {
      @include text_style(11px, 400, #4a4a4a);
    }
    &__title {
      @include text_style(16px, 300, #222);
      max-width: 330px;
      &_price {
        color: #f16d7f;
        font-size: 16px;
        font-weight: 700;
      }
    }
  }
}
.cart-btn {
  @include text_style(14px, 300, #000);
  padding: 17px 40px 16px 39px;
  border: 1px solid #a4a4a4;
  transition: 0.5s;
}
.cart-btn_checkout-btn {
  width: 273px;
  background-color: #fff;
  margin: 17px 34px 42px 53px;
}
.cart-btn_quote-btn {
  font-size: 11px;
  width: 101.408px;
  padding: 10px 14px 12px 15px;
  text-align: center;
}
.cart-btn:hover {
  @include hover_pink;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .cart {
    flex-direction: column;
    align-items: center;
    &-shipping {
      flex-direction: row;
      width: 100%;
      justify-content: center;
      gap: 15px;
      &__total {
        height: 214px;
        margin-top: 39px;
      }
    }
  }
}

@media (max-width: 767px) {
  .cart {
    margin-top: 39px;
    margin-bottom: 96px;
    flex-direction: column;
    gap: 48px;
    &-product__item {
      width: 100%;
      .cart-product__img {
        width: 143px;
        height: 188px;
      }
      .cart-product__title {
        @include text_style(16px, 400, #222);
        margin-top: 13px;
        margin-bottom: 25px;
        padding-right: 70px;
      }
      .cart-product__li {
        @include text_style(14px, 400, #575757);
        &_price {
          font-size: 14px;
        }
        &_attribute {
          font-size: 14px;
        }
        &_quantity {
          @include text_style(10px, 400, #656565);
          margin-left: 15px;
          width: 24px;
          margin-top: 2px;
        }
      }
      .cart-product__close-btn {
        top: 17px;
        right: 12px;
        width: 12px;
      }
      .cart-product__ul {
        width: 214px;
        padding-left: 17px;
      }
    }
    &-product__btns {
      gap: 9px;
    }
    &-btn {
      padding: 9px 17px 9px 18px;
      @include text_style(12px, 400, #575757);
    }
    &-btn_quote-btn {
      @include text_style(11px, 400, #575757);
      padding: 11px 20px 11px 21px;
      width: 117px;
    }
    &-shipping__total {
      width: 360px;
    }
    &-btn_checkout-btn {
      margin: 17px 34px 42px 43px;
    }
  }
}
