@import "vars";
@import "product";
summary {
  display: block;
}

summary::-webkit-details-marker {
  display: none;
}

.good_pinkstyle2 {
  background-color: #f7e4e2;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  padding: 6px;

  // padding-bottom: 3.65vw;
  .good_pinkstyle_img2 {
    width: 9vw;
    height: auto;
  }
}
.catalog_filter {
  // padding:39px;
  height: 132px;
  position: relative;
  display: flex;
  flex-direction: row;
  &_left {
    top: 36px;
    position: absolute;
    z-index: 1;
    padding: 13px 16px 16px;
    width: 360px;
    box-sizing: border-box;
    &[open] {
      background-color: #fff;
      box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    }

    &[open] .catalog_filter_left_summary_heading {
      color: $mainColor;
    }
    &[open] path {
      fill: $mainColor;
    }

    &_summary {
      display: flex;
      gap: 11px;
      align-items: center;
      &_heading {
        color: $mainBlackColor;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
      //   &_heading:hover {
      //     text-shadow: 2px 2px 2px grey;
      //   }
      //   &_svg:hover {
      //     border-radius: 20%;
      //     box-shadow: 2px 2px 2px grey;
      //   }
    }
    &_content {
      margin-top: 16px;
      .filter_item {
        &_heading {
          color: #6f6e6e;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          padding: 8px 11px 11px 11px;
          border-bottom: 1px solid #ebebeb;
          border-left: 5px solid $mainColor;
          &_svg {
            margin-right: 11px;
          }
        }
        &[open] .filter_item_heading {
          color: #ef5b70;
        }
        &_link_box {
          display: flex;
          flex-direction: column;
          gap: 11px;
          padding: 24px 16px;

          .filter_link {
            color: #6f6e6e;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }
        }
      }
    }
  }
  .sort {
    position: relative;
    left: 490px;
    top: 51px;
    display: flex;
    gap: 28px;
  }
}

.product_filter_details {
  .filter1 {
    color: #6f6e6e;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    list-style: none;
    padding-bottom: 6px;
  }
  .filter1::-webkit-details-marker {
    display: none;
  }
  .filter1::after {
    content: url("data:image/svg+xml,%3Csvg width='11' height='5' viewBox='0 0 11 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.00214 5.00214C4.83521 5.00247 4.67343 4.94433 4.54488 4.83782L0.258102 1.2655C0.112196 1.14422 0.0204417 0.969958 0.00302325 0.781035C-0.0143952 0.592112 0.0439493 0.404007 0.165221 0.258101C0.286493 0.112196 0.460759 0.0204417 0.649682 0.00302327C0.838605 -0.0143952 1.02671 0.043949 1.17262 0.165221L5.00214 3.36602L8.83167 0.279536C8.90475 0.220188 8.98884 0.175869 9.0791 0.149125C9.16937 0.122382 9.26403 0.113741 9.35764 0.1237C9.45126 0.133659 9.54198 0.162021 9.6246 0.207156C9.70722 0.252292 9.7801 0.313311 9.83906 0.386705C9.90449 0.460167 9.95405 0.546351 9.98462 0.639855C10.0152 0.733359 10.0261 0.83217 10.0167 0.930097C10.0073 1.02802 9.97784 1.12296 9.93005 1.20895C9.88227 1.29494 9.81723 1.37013 9.73904 1.42982L5.45225 4.88068C5.32002 4.97036 5.16154 5.01312 5.00214 5.00214Z' fill='%236F6E6E'/%3E%3C/svg%3E ");
    padding-left: 10px;
  }
  .filter_details_box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: $mainWhite;
    box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
    padding: 6px;

    .filter_checkbox_box_item {
      display: flex;
      justify-items: start;
      margin-bottom: 9px;
      gap: 30px;

      &_checkbox {
        position: absolute;
        z-index: -1;
        opacity: 0;
      }
      &_checkbox + label {
        display: inline-flex;
        align-items: center;
        user-select: none;
      }
      &_checkbox + label::before {
        content: " ";
        display: inline-block;
        width: 1em;
        height: 1em;
        flex-shrink: 0;
        flex-grow: 0;
        border: 1px solid #ebebeb;
        margin-right: 0.5em;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 50% 50%;
      }

      /* стили при наведении курсора на checkbox */
      &_checkbox:not(:disabled):not(:checked) + label:hover::before {
        border-color: #b3d7ff;
      }
      /* стили для активного состояния чекбокса (при нажатии на него) */
      &_checkbox:not(:disabled):active + label::before {
        background-color: #6f6e6e;
        border-color: #b3d7ff;
      }
      /* стили для чекбокса, находящегося в фокусе */
      &_checkbox:focus + label::before {
        background-color: $mainColor;
      }
      /* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
      &_checkbox:focus:not(:checked) + label::before {
        border-color: $mainColor;
      }
      /* стили для чекбокса, находящегося в состоянии disabled */
      &_checkbox:disabled + label::before {
        background-color: #e9ecef;
      }

      &_label {
        color: #6f6e6e;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
  }
}
