@import "vars";

summary {
  display: block;
}

summary::-webkit-details-marker {
  display: none;
}
.content_goods {
  display: grid;
  grid-template-columns: repeat(3, 360px);
  gap: 30px;
  justify-content: center;
}
.content__goods_hover:hover {
  -webkit-filter: brightness(50%);
  transition: all 0.5s ease;
}
.good_pinkstyle2 {
  background-color: #f7e4e2;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  padding: 6px;
  .good_pinkstyle_img2 {
    width: 9vw;
    height: auto;
  }
}
.catalog_filter {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  &_left {
    top: 36px;
    position: absolute;
    z-index: 1;
    padding: 13px 16px 16px;
    width: 360px;
    box-sizing: border-box;
    &[open] {
      background-color: #fff;
      box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    }

    &[open] .catalog_filter_left_summary_heading {
      color: $mainColor;
    }
    &[open] path {
      fill: $mainColor;
    }

    &_summary {
      display: flex;
      gap: 11px;
      align-items: center;
      &_heading {
        @include text_style(14px, 600, $mainBlackColor);
      }
      //   &_heading:hover {
      //     text-shadow: 2px 2px 2px grey;
      //   }
      //   &_svg:hover {
      //     border-radius: 20%;
      //     box-shadow: 2px 2px 2px grey;
      //   }
    }
    &_content {
      margin-top: 16px;
      .filter_item {
        &_heading {
          @include text_style(14px, 400, #6f6e6e);
          padding: 8px 11px 11px 11px;
          border-bottom: 1px solid #ebebeb;
          border-left: 5px solid $mainColor;
          &_svg {
            margin-right: 11px;
          }
        }
        &[open] .filter_item_heading {
          color: #ef5b70;
        }
        &_link_box {
          display: flex;
          flex-direction: column;
          gap: 11px;
          padding: 24px 16px;

          .filter_link {
            @include text_style(14px, 400, #6f6e6e);
          }
        }
      }
    }
  }
  .sort {
    position: relative;
    top: 51px;
    display: flex;
    gap: 28px;
  }
}
.pagination__div {
  display: flex;
  justify-content: center;
  margin-bottom: 96px;
}
.pagination__box{
border: 1px solid #EBEBEB;
padding: 11px 16px 13px 16px;
}
.pagination__list {
  display: flex;
  gap: 20px;
  list-style-type: none;
  padding-left: 0;
  &-link{
    @include text_style(16px, 300, #C4C4C4);
  }
  &-link:hover{
    @include text_style(16px, 300, #EF5B70);
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .center {
    padding-left: calc(50% - 367.5px);
    padding-right: calc(50% - 367.5px);
  }
  .pagination__div{
    margin-bottom: 63px;
  }
  .catalog_filter_left{
    width: 360px;
  }
}
