@import "vars";

a {
  text-decoration: none;
}
ul {
  margin-bottom: 0;
}
.content_goods2 {
  margin-bottom: 128px;
  margin-top: 129px;
}

.top_menu {
  padding-top: 59px;
  padding-bottom: 59px;
  background-color: #f8f3f4;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  &_left {
    @include text_style(24px, 400, $mainColor);
  }
  .breadcrumbs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    &__ul {
      list-style-type: none;
      display: flex;
    }
    &__li:not(:last-child)::after {
      content: "/";
      padding-left: 8px;
      padding-right: 8px;
      @include text_style(14px, 300, #636363);
    }
    &__link {
      @include text_style(14px, 300, #636363);
    }
    &__link:active {
      color: $mainColor;
      font-weight: 700;
    }
    &__li:last-child .breadcrumbs__link {
      color: $mainColor;
      font-weight: 700;
    }
  }
}

.carousel-inner {
  margin: 0 auto;
  display: block;
  transition: 0.5s;
  background-color: #f7f7f7;
}
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
  justify-content: center;
}
.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3Csvg width='31' height='31' viewBox='0 0 31 31' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.2998 23.2499L17.0498 15.4999L9.2998 7.7499L10.8498 4.6499L21.6998 15.4999L10.8498 26.3499L9.2998 23.2499Z' fill='black'/%3E%3C/svg%3E%0A");
  background-color: rgba(42, 42, 42, 0.15);
  padding: 8px;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3Csvg width='31' height='31' viewBox='0 0 31 31' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.6998 7.7499L13.9498 15.4999L21.6998 23.2499L20.1498 26.3499L9.2998 15.4999L20.1498 4.6499L21.6998 7.7499Z' fill='black'/%3E%3C/svg%3E ");
  background-color: rgba(42, 42, 42, 0.15);
  padding: 8px;
}

.carousel-control-next-icon:hover {
  background-image: url("data:image/svg+xml,%3Csvg width='31' height='31' viewBox='0 0 31 31' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.2998 23.2499L17.0498 15.4999L9.2998 7.7499L10.8498 4.6499L21.6998 15.4999L10.8498 26.3499L9.2998 23.2499Z' fill='%23F16D7F'/%3E%3C/svg%3E ");
}

.carousel-control-prev-icon:hover {
  background-image: url("data:image/svg+xml,%3Csvg width='31' height='31' viewBox='0 0 31 31' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.6998 7.7499L13.9498 15.4999L21.6998 23.2499L20.1498 26.3499L9.2998 15.4999L20.1498 4.6499L21.6998 7.7499Z' fill='%23F16D7F'/%3E%3C/svg%3E ");
}

.description_box {
  display: flex;
  justify-content: center;
  height: 601px;
  .bottom_btn {
    display: flex;
    gap: 17px;
    align-items: center;
  }
  .bottom_btn_icon {
    transition: 1s;
  }
  .bottom_btn:hover .bottom_btn_icon2 {
    fill: $mainWhite;
    transition: 1s;
  }
}
.description {
  background-color: $mainWhite;
  width: 71vw;
  height: 601px;
  display: flex;
  margin-top: -64px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-top: -64px;

  .product_descr_title {
    color: #f16d7f;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-bottom: 12px;
    padding-top: 64px;
  }

  .product_descr_line {
    margin-bottom: 12px;
  }

  .product_descr_title2 {
    color: #4d4d4d;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-bottom: 48px;
  }

  .product_descr_text {
    color: #5e5e5e;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-bottom: 32px;
  }

  .product_descr_price {
    color: #ef5b70;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-bottom: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .product_descr_price_hr {
    width: 641px;
    margin-bottom: 64px;
    margin-right: auto;
    margin-left: auto;
    border-top: 1px solid #6f6e6e;
    position: relative;
  }
  .product_filter {
    display: flex;
    flex-direction: row;
    gap: 42px;
    // padding-top: 64px;
    position: absolute;
    z-index: 1;
    top: 64vw;
  }
}
.product_filter_details {
  // position: relative;
  .filter1 {
    color: #6f6e6e;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    list-style: none;
    padding-bottom: 6px;
  }
  .filter1::-webkit-details-marker {
    display: none;
  }
  .filter1::after {
    content: url("data:image/svg+xml,%3Csvg width='11' height='5' viewBox='0 0 11 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.00214 5.00214C4.83521 5.00247 4.67343 4.94433 4.54488 4.83782L0.258102 1.2655C0.112196 1.14422 0.0204417 0.969958 0.00302325 0.781035C-0.0143952 0.592112 0.0439493 0.404007 0.165221 0.258101C0.286493 0.112196 0.460759 0.0204417 0.649682 0.00302327C0.838605 -0.0143952 1.02671 0.043949 1.17262 0.165221L5.00214 3.36602L8.83167 0.279536C8.90475 0.220188 8.98884 0.175869 9.0791 0.149125C9.16937 0.122382 9.26403 0.113741 9.35764 0.1237C9.45126 0.133659 9.54198 0.162021 9.6246 0.207156C9.70722 0.252292 9.7801 0.313311 9.83906 0.386705C9.90449 0.460167 9.95405 0.546351 9.98462 0.639855C10.0152 0.733359 10.0261 0.83217 10.0167 0.930097C10.0073 1.02802 9.97784 1.12296 9.93005 1.20895C9.88227 1.29494 9.81723 1.37013 9.73904 1.42982L5.45225 4.88068C5.32002 4.97036 5.16154 5.01312 5.00214 5.00214Z' fill='%236F6E6E'/%3E%3C/svg%3E ");
    padding-left: 10px;
  }
  .filter_details_box__margin {
    margin-left: 34px;
  }

  .filter_details_box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: $mainWhite;
    box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
    position: absolute;
    z-index: 2;
    // left: -10px;
    padding: 9px 30px 11px 9px;

    .filter_checkbox_box_item {
      display: flex;
      justify-items: start;
      margin-bottom: 9px;
      gap: 30px;

      &_checkbox {
        position: absolute;
        z-index: -1;
        opacity: 0;
      }
      &_checkbox + label {
        display: inline-flex;
        align-items: center;
        user-select: none;
      }
      &_checkbox + label::before {
        content: " ";
        display: inline-block;
        width: 1em;
        height: 1em;
        flex-shrink: 0;
        flex-grow: 0;
        border: 1px solid #ebebeb;
        margin-right: 0.5em;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 50% 50%;
      }

      // /* стили при наведении курсора на checkbox */
      // &_checkbox:not(:disabled):not(:checked) + label:hover::before {
      //   border-color: #b3d7ff;
      // }
      // /* стили для активного состояния чекбокса (при нажатии на него) */
      // &_checkbox:not(:disabled):active + label::before {
      //   background-color: #6f6e6e;
      //   border-color: #b3d7ff;
      // }
      // /* стили для чекбокса, находящегося в фокусе */
      // &_checkbox:focus + label::before {
      //   background-color: $mainColor;
      // }
      // /* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
      // &_checkbox:focus:not(:checked) + label::before {
      //   border-color: $mainColor;
      // }
      // /* стили для чекбокса, находящегося в состоянии disabled */
      // &_checkbox:disabled + label::before {
      //   background-color: #e9ecef;
      // }

      &_label {
        color: #6f6e6e;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
  }
}
