a {
  text-decoration: none;
}

ul {
  margin-bottom: 0;
}

.content_goods2 {
  margin-bottom: 128px;
  margin-top: 129px;
}

.top_menu {
  padding-top: 59px;
  padding-bottom: 59px;
  background-color: #f8f3f4;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.top_menu_left {
  color: #f16d7f;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.top_menu .breadcrumbs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.top_menu .breadcrumbs__ul {
  list-style-type: none;
  display: flex;
}
.top_menu .breadcrumbs__li:not(:last-child)::after {
  content: "/";
  padding-left: 8px;
  padding-right: 8px;
  color: #636363;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.top_menu .breadcrumbs__link {
  color: #636363;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.top_menu .breadcrumbs__link:active {
  color: #f16d7f;
  font-weight: 700;
}
.top_menu .breadcrumbs__li:last-child .breadcrumbs__link {
  color: #f16d7f;
  font-weight: 700;
}

.carousel-inner {
  margin: 0 auto;
  display: block;
  transition: 0.5s;
  background-color: #f7f7f7;
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
  justify-content: center;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3Csvg width='31' height='31' viewBox='0 0 31 31' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.2998 23.2499L17.0498 15.4999L9.2998 7.7499L10.8498 4.6499L21.6998 15.4999L10.8498 26.3499L9.2998 23.2499Z' fill='black'/%3E%3C/svg%3E%0A");
  background-color: rgba(42, 42, 42, 0.15);
  padding: 8px;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3Csvg width='31' height='31' viewBox='0 0 31 31' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.6998 7.7499L13.9498 15.4999L21.6998 23.2499L20.1498 26.3499L9.2998 15.4999L20.1498 4.6499L21.6998 7.7499Z' fill='black'/%3E%3C/svg%3E ");
  background-color: rgba(42, 42, 42, 0.15);
  padding: 8px;
}

.carousel-control-next-icon:hover {
  background-image: url("data:image/svg+xml,%3Csvg width='31' height='31' viewBox='0 0 31 31' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.2998 23.2499L17.0498 15.4999L9.2998 7.7499L10.8498 4.6499L21.6998 15.4999L10.8498 26.3499L9.2998 23.2499Z' fill='%23F16D7F'/%3E%3C/svg%3E ");
}

.carousel-control-prev-icon:hover {
  background-image: url("data:image/svg+xml,%3Csvg width='31' height='31' viewBox='0 0 31 31' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.6998 7.7499L13.9498 15.4999L21.6998 23.2499L20.1498 26.3499L9.2998 15.4999L20.1498 4.6499L21.6998 7.7499Z' fill='%23F16D7F'/%3E%3C/svg%3E ");
}

.description_box {
  display: flex;
  justify-content: center;
  height: 601px;
  border-bottom: 1px solid #eaeaea;
}
.description_box .bottom_btn {
  display: flex;
  gap: 17px;
  align-items: center;
}
.description_box .bottom_btn_icon {
  transition: 1s;
}
.description_box .bottom_btn:hover .bottom_btn_icon2 {
  fill: #fff;
  transition: 1s;
}

.description {
  background-color: #fff;
  width: 71vw;
  height: 601px;
  display: flex;
  margin-top: -64px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-top: -64px;
}
.description .product_descr_title {
  color: #f16d7f;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 12px;
  padding-top: 64px;
}
.description .product_descr_line {
  margin-bottom: 12px;
}
.description .product_descr_title2 {
  color: #4d4d4d;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 48px;
}
.description .product_descr_text {
  color: #5e5e5e;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 32px;
}
.description .product_descr_price {
  color: #ef5b70;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.description .product_descr_price_hr {
  width: 641px;
  margin-bottom: 64px;
  margin-right: auto;
  margin-left: auto;
  border-top: 1px solid #6f6e6e;
  position: relative;
}
.description .product_filter {
  display: flex;
  flex-direction: row;
  gap: 42px;
  position: absolute;
  z-index: 1;
  top: 64vw;
}

.product_filter_details .filter1 {
  color: #6f6e6e;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  list-style: none;
  padding-bottom: 6px;
}
.product_filter_details .filter1::-webkit-details-marker {
  display: none;
}
.product_filter_details .filter1::after {
  content: url("data:image/svg+xml,%3Csvg width='11' height='5' viewBox='0 0 11 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.00214 5.00214C4.83521 5.00247 4.67343 4.94433 4.54488 4.83782L0.258102 1.2655C0.112196 1.14422 0.0204417 0.969958 0.00302325 0.781035C-0.0143952 0.592112 0.0439493 0.404007 0.165221 0.258101C0.286493 0.112196 0.460759 0.0204417 0.649682 0.00302327C0.838605 -0.0143952 1.02671 0.043949 1.17262 0.165221L5.00214 3.36602L8.83167 0.279536C8.90475 0.220188 8.98884 0.175869 9.0791 0.149125C9.16937 0.122382 9.26403 0.113741 9.35764 0.1237C9.45126 0.133659 9.54198 0.162021 9.6246 0.207156C9.70722 0.252292 9.7801 0.313311 9.83906 0.386705C9.90449 0.460167 9.95405 0.546351 9.98462 0.639855C10.0152 0.733359 10.0261 0.83217 10.0167 0.930097C10.0073 1.02802 9.97784 1.12296 9.93005 1.20895C9.88227 1.29494 9.81723 1.37013 9.73904 1.42982L5.45225 4.88068C5.32002 4.97036 5.16154 5.01312 5.00214 5.00214Z' fill='%236F6E6E'/%3E%3C/svg%3E ");
  padding-left: 10px;
}
.product_filter_details .filter_details_box__margin {
  margin-left: 34px;
}
.product_filter_details .filter_details_box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #fff;
  box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
  position: absolute;
  z-index: 2;
  padding: 9px 30px 11px 9px;
}
.product_filter_details .filter_details_box .filter_checkbox_box_item {
  display: flex;
  justify-items: start;
  margin-bottom: 9px;
  gap: 30px;
}
.product_filter_details .filter_details_box .filter_checkbox_box_item_checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.product_filter_details .filter_details_box .filter_checkbox_box_item_checkbox + label {
  display: inline-flex;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.product_filter_details .filter_details_box .filter_checkbox_box_item_checkbox + label::before {
  content: " ";
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #ebebeb;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}
.product_filter_details .filter_details_box .filter_checkbox_box_item_label {
  color: #6f6e6e;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .tabloid_dissappear {
    display: none;
    visibility: hidden;
    position: absolute;
  }
}
summary {
  display: block;
}

summary::-webkit-details-marker {
  display: none;
}

.content_goods {
  display: grid;
  grid-template-columns: repeat(3, 360px);
  gap: 30px;
  justify-content: center;
}

.content__goods_hover:hover {
  -webkit-filter: brightness(50%);
  transition: all 0.5s ease;
}

.good_pinkstyle2 {
  background-color: #f7e4e2;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  padding: 6px;
}
.good_pinkstyle2 .good_pinkstyle_img2 {
  width: 9vw;
  height: auto;
}

.catalog_filter {
  position: relative;
  display: flex;
  flex-direction: row;
}
.catalog_filter_left {
  top: 36px;
  position: absolute;
  z-index: 1;
  padding: 13px 16px 16px;
  width: 360px;
  box-sizing: border-box;
}
.catalog_filter_left[open] {
  background-color: #fff;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}
.catalog_filter_left[open] .catalog_filter_left_summary_heading {
  color: #f16d7f;
}
.catalog_filter_left[open] path {
  fill: #f16d7f;
}
.catalog_filter_left_summary {
  display: flex;
  gap: 11px;
  align-items: center;
}
.catalog_filter_left_summary_heading {
  color: #222;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.catalog_filter_left_content {
  margin-top: 16px;
}
.catalog_filter_left_content .filter_item_heading {
  color: #6f6e6e;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 8px 11px 11px 11px;
  border-bottom: 1px solid #ebebeb;
  border-left: 5px solid #f16d7f;
}
.catalog_filter_left_content .filter_item_heading_svg {
  margin-right: 11px;
}
.catalog_filter_left_content .filter_item[open] .filter_item_heading {
  color: #ef5b70;
}
.catalog_filter_left_content .filter_item_link_box {
  display: flex;
  flex-direction: column;
  gap: 11px;
  padding: 24px 16px;
}
.catalog_filter_left_content .filter_item_link_box .filter_link {
  color: #6f6e6e;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.catalog_filter .sort {
  position: relative;
  left: 490px;
  top: 51px;
  display: flex;
  gap: 28px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .center {
    padding-left: calc(50% - 367.5px);
    padding-right: calc(50% - 367.5px);
  }
}
.cart {
  display: flex;
  gap: 128px;
  margin-top: 96px;
  margin-bottom: 128px;
  width: 100%;
}
.cart-product {
  display: flex;
  flex-direction: column;
  align-items: start;
  align-items: center;
  width: 100%;
  gap: 40px;
}
.cart-product__img {
  width: 262px;
}
.cart-product__item {
  display: flex;
  flex-direction: row;
  box-shadow: 8px 8px 21px rgba(0, 0, 0, 0.13);
  position: relative;
}
.cart-product__close-btn {
  position: absolute;
  top: 28px;
  right: 22px;
  width: 18px;
  z-index: 1;
}
.cart-product__close-btn:hover path {
  fill: #f16d7f;
}
.cart-product__title {
  color: #222;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-right: 125px;
  margin-top: 22px;
  margin-bottom: 42px;
}
.cart-product__ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  width: 390px;
  gap: 6px;
}
.cart-product__li {
  color: #575757;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  list-style-type: none;
}
.cart-product__li_price {
  color: #ef5b70;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.cart-product__li_attribute {
  color: #6f6e6e;
}
.cart-product__li_quantity {
  color: #6f6e6e;
  border: 1px solid #eaeaea;
  width: 44px;
  text-align: center;
}
.cart-product__li_quantity::-webkit-outer-spin-button, .cart-product__li_quantity::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.cart-product__btns {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.cart-shipping {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.cart-shipping__title {
  color: #222;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.cart-shipping__form {
  display: flex;
  flex-direction: column;
  gap: 21px;
  margin-bottom: 57px;
}
.cart-shipping__input {
  color: #222;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  border: 1px solid #a4a4a4;
  display: block;
  padding: 13px 0 15px 16px;
  text-align: start;
  width: 360px;
}
.cart-shipping__input::-moz-placeholder {
  color: #222;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.cart-shipping__input::placeholder {
  color: #222;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.cart-shipping__input:hover::-moz-placeholder {
  color: #b1b1b1;
}
.cart-shipping__input:hover::placeholder {
  color: #b1b1b1;
}
.cart-shipping__total {
  background-color: #f5f3f3;
}
.cart-shipping__total-box {
  display: flex;
  align-items: end;
  flex-direction: column;
  gap: 12px;
  padding: 39px 0px 21px 0px;
  border-bottom: 1px solid #e2e2e2;
  margin-right: 42.5px;
  margin-left: 42.5px;
}
.cart-shipping__sub-total {
  color: #4a4a4a;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.cart-shipping__title {
  color: #222;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  max-width: 330px;
}
.cart-shipping__title_price {
  color: #f16d7f;
  font-size: 16px;
  font-weight: 700;
}

.cart-btn {
  color: #000;
  font-size: 14px;
  font-weight: 300;
  line-height: normal;
  padding: 17px 40px 16px 39px;
  border: 1px solid #a4a4a4;
  transition: 0.5s;
}

.cart-btn_checkout-btn {
  width: 273px;
  background-color: #fff;
  margin: 17px 34px 42px 53px;
}

.cart-btn_quote-btn {
  font-size: 11px;
  width: 101.408px;
  padding: 10px 14px 12px 15px;
  text-align: center;
}

.cart-btn:hover {
  background-color: #f16d7f;
  color: #FFF;
  border: 1px solid #FFF;
  box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
}

@media (min-width: 768px) and (max-width: 1024px) {
  .cart {
    flex-direction: column;
    align-items: center;
  }
  .cart-shipping {
    flex-direction: row;
    width: 100%;
    justify-content: center;
    gap: 15px;
  }
  .cart-shipping__total {
    height: 214px;
    margin-top: 39px;
  }
}
p {
  margin-bottom: 0;
}

.reg {
  display: flex;
  width: 100%;
  gap: 128px;
  margin-top: 64px;
  margin-bottom: 96px;
}
.reg__form {
  display: flex;
  flex-direction: column;
}
.reg__form-wrapper {
  display: flex;
  flex-direction: column;
}
.reg__form-label {
  color: #222;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 20px;
}
.reg__form-input {
  color: #222;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  border: 1px solid #a4a4a4;
  display: block;
  padding: 13px 0 15px 16px;
  text-align: start;
  width: 360px;
  margin-bottom: 20px;
}
.reg__form-input::-moz-placeholder {
  color: #222;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.reg__form-input::placeholder {
  color: #222;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.reg__form-input::-moz-placeholder:hover {
  color: #b1b1b1;
}
.reg__form-input::placeholder:hover {
  color: #b1b1b1;
}
.reg__form-additional-info {
  color: #b1b1b1;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.reg__btn {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 39px;
  padding: 16px 20px 16px 29px;
  width: 167px;
  border: 1px solid #a4a4a4;
  transition: all 0.5s;
}
.reg__btn-text {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.reg__btn:hover {
  background-color: #f16d7f;
  border: 1px solid #f16d7f;
  box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
}
.reg__btn:hover .reg__btn-text {
  color: #fff;
}
.reg__btn:hover .reg__btn-img path {
  fill: #fff;
}
.reg__form-radio {
  display: flex;
  gap: 20px;
  align-items: center;
  padding-top: 14px;
  padding-bottom: 34px;
}
.reg__form-radio-wrapper {
  display: flex;
  gap: 10px;
  align-items: center;
}
.reg__form-radio-label {
  color: #000;
  font-size: 11px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.reg__form-radio-input {
  position: relative;
  height: 22px;
  width: 22px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}
.reg__form-radio-input::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 2px solid #a4a4a4;
}
.reg__form-radio-input:checked::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #f16d7f;
  transform: translate(-50%, -50%);
  visibility: visible;
}
.reg__info {
  max-width: 652px;
}
.reg__info-title {
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding-bottom: 22px;
}
.reg__info-text {
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding-bottom: 21px;
}
.reg__info-list {
  list-style-image: url(img/registration/marker.svg);
}
.reg__info-list-item {
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding-left: 6px;
  padding-bottom: 16px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .reg {
    gap: 22px;
  }
  .reg__info-title {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }
  .reg__info-text {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }
  .reg__info-list-item {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }
}
* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

html,
body,
div,
img,
a,
hr,
table,
tr,
td,
h1,
h2,
h3,
h4,
h5,
h6,
input,
select,
textarea,
button {
  box-sizing: border-box;
  border: none;
  border-radius: 0;
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  outline: none;
  vertical-align: top;
  transition: none;
}

a {
  text-decoration: none;
}

img {
  -webkit-filter: brightness(100%);
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.good_pinkstyle:hover, .content_goods_good .content_img:hover, .catalogue_item_img:hover {
  -webkit-filter: brightness(50%);
  transition: all 0.5s ease;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.heading {
  background-color: #222;
  display: flex;
  justify-content: space-between;
  padding-top: 18px;
  padding-bottom: 18px;
  align-items: center;
}
.heading__logos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 41px;
}
.heading__menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 34px;
}
.heading__img:hover path {
  fill: #f16d7f;
}

.heading_bottom {
  background-color: #f1e4e6;
  height: 47.7vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 64px;
}
.heading_bottom_left_img {
  width: 50vw;
  height: auto;
}
.heading_bottom_right {
  display: flex;
  justify-content: center;
  align-items: center;
}
.heading_bottom_right_box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.heading_bottom_right_box_title {
  padding-left: 16px;
  color: #222;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: 0.7em;
  max-width: 377px;
}
.heading_bottom_right_box_title .top_text_small {
  font-size: 32px;
}
.heading_bottom_right_box_title .top_text_small_pink {
  color: #f16d7f;
  font-size: 32px;
}

.catalogue {
  display: grid;
  grid-template-columns: repeat(3, 22vw);
  gap: 30px;
  justify-content: center;
}
.catalogue_item {
  position: relative;
}
.catalogue_item_img {
  width: 100%;
  transition: 0.5s;
}
.catalogue_item_text {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: absolute;
  top: 6.5vw;
  left: 6.2px;
  width: 100%;
}
.catalogue_item_text_pink {
  color: #f16d7f;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.item4 {
  display: flex;
  grid-column: 1/-1;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.catalogue_item_text4 {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: absolute;
  top: 3vh;
  left: 2vh;
  width: 100%;
}

.content_article_title {
  color: #222;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  padding-top: 6vw;
  padding-bottom: 6px;
}
.content_article_text {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #9f9f9f;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 18px;
  text-align: start;
}

.content_goods {
  display: grid;
  grid-template-columns: repeat(3, 22vw);
  gap: 60px;
  justify-content: center;
}
.content_goods_good {
  background-color: #f8f8f8;
  display: grid;
}
.content_goods_good .content_img_box {
  position: relative;
}
.content_goods_good .content_img_box:hover::after {
  content: url(img/catalogue/add_to_cart.svg);
  position: absolute;
  display: block;
  top: 50%;
  left: 40%;
}
.content_goods_good .content_img {
  width: 100%;
}
.content_goods_good .content_title {
  display: flex;
  color: #000;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  align-items: center;
  justify-content: start;
  margin-top: 23px;
  padding-bottom: 6px;
}
.content_goods_good .content_text {
  color: #5d5d5d;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.good_pinkstyle {
  background-color: #f7e4e2;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  padding-bottom: 3.65vw;
}
.good_pinkstyle .good_pinkstyle_img {
  width: 8vw;
  height: auto;
}

.good_pinkstyle:hover {
  width: 100%;
}

.price {
  color: #f16d7f;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 20px;
}

.bottom_button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 48px;
  margin-bottom: 60px;
}

.bottom_btn {
  color: #f26376;
  border: 0.5mm solid #f26d76;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 15px 39px 14px 39px;
  transition: 1s;
}

.bottom_btn:hover {
  background-color: #f16d7f;
  color: white;
}

.advantages {
  background-color: #222224;
  padding-top: 103px;
  padding-bottom: 103px;
}
.advantages .top_article {
  display: flex;
  justify-content: center;
  justify-items: center;
  gap: 30px;
}
.advantages .top_article .article1_figure {
  width: 21vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
  max-width: 360px;
}
.advantages .top_article .article1_figure .article1_img {
  padding-bottom: 28px;
}
.advantages .top_article .article1_figure .article1_title {
  color: #fbfbfb;
  font-size: 19.96px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 16px;
}
.advantages .top_article .article1_figure .article1_text {
  color: #fbfbfb;
  text-align: center;
  font-size: 13.972px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  max-width: 310px;
  opacity: 0.7;
}

.contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: url(img/footer/footer_bg_img_opacity30.png) no-repeat 0 0;
  padding-top: 97px;
  padding-bottom: 126px;
  background-size: cover;
}
.contacts__figure {
  gap: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.contacts__figure__img {
  padding-bottom: 30px;
}
.contacts__figure_left-text {
  color: #222224;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.contacts__figure .italic {
  font-style: italic;
}
.contacts__right-figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contacts__right-figure__subscribe_form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contacts__right-figure__subscribe_form .input_box_title {
  display: flex;
  flex-direction: column;
  color: #222224;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 167.2%;
}
.contacts__right-figure__subscribe_form .input_box_title_small {
  font-size: 18px;
  font-weight: 400;
}
.contacts__right-figure__subscribe_form .input_box {
  display: flex;
  flex-direction: row;
}
.contacts__right-figure__subscribe_form .input_box_subscribe_input {
  border-inline: none;
  outline: none;
  border: none;
  color: #222224;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 6.71;
  background-color: #e1e1e1;
  padding: 14px 22px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}
.contacts__right-figure__subscribe_form .input_box_subscribe_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  width: 85px;
  flex-direction: column;
  background-color: #f16d7f;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.footer {
  background-color: #222224;
  height: 79px;
  text-align: center;
  display: flex;
  justify-content: space-between;
}
.footer_left_text {
  color: #fbfbfb;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 30px;
  padding-left: 30px;
}
.footer .social_networks {
  padding-top: 24px;
  padding-bottom: 23px;
  display: flex;
  gap: 6px;
}
.footer .social_networks .footer_nav .footer_nav_icon {
  transition: 1s;
}
.footer .social_networks .footer_nav .footer_nav_icon2 {
  transition: 1s;
}
.footer .social_networks .footer_nav:hover .footer_nav_icon {
  fill: #f16d7f;
}
.footer .social_networks .footer_nav:hover .footer_nav_icon2 {
  fill: white;
}

.main {
  height: 100%;
  background-color: #eaeaea;
}

.product_text {
  height: 100%;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .center {
    padding-left: calc(50% - 367.5px);
    padding-right: calc(50% - 367.5px);
  }
  .heading_top_logos_img {
    padding-right: 41px;
  }
  .heading_top_menu {
    padding-left: 32px;
    padding-right: 16px;
  }
  .heading_bottom_right_box_title {
    font-size: 44px;
    padding-left: 16px;
    max-width: none;
    padding-right: 0;
  }
  .top_text_small {
    font-size: 24px;
  }
  .top_text_small_pink {
    font-size: 24px;
  }
  .catalogue {
    grid-template-columns: repeat(3, 30vw);
  }
  .catalogue_item_img {
    width: 100%;
  }
  .content_goods {
    grid-template-columns: repeat(2, 45vw);
    gap: 16px;
  }
  .content_goods_good .content_img_box {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .good_pinkstyle {
    width: 100%;
  }
  .good_pinkstyle .good_pinkstyle_img {
    width: 17.3vw;
    height: auto;
  }
  .content_article_text {
    margin-bottom: 18px;
  }
  .price {
    padding-bottom: 20px;
    margin-bottom: 0;
  }
  .bottom_button {
    margin-bottom: 70.5px;
  }
  .advantages .top_article {
    display: grid;
    grid-template-columns: repeat(1, 100%);
  }
  .advantages .top_article .article1_text {
    margin-bottom: 40px;
  }
  .contacts {
    flex-direction: column;
    gap: 48px;
  }
  .footer {
    gap: 39vw;
  }
}
@media (max-width: 767px) {
  .center {
    padding-left: calc(50% - 347px);
    padding-right: calc(50% - 347px);
  }
  .heading_top_logos_img {
    padding-right: 16px;
    padding-left: 16px;
  }
  .heading_top_menu {
    background-image: url(img/mobile/crumbs.svg);
    width: 32px;
    height: 23px;
    padding-right: 16px;
    margin-right: 16px;
  }
  .heading_bottom {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding-top: 95px;
    padding-bottom: 149px;
  }
  .heading_bottom_left_img {
    display: none;
    padding: 0;
    margin: 0;
    width: 0;
    height: 0;
  }
  .heading_bottom_right {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .heading_bottom_right_box_title {
    font-size: 38px;
    padding-left: 16px;
    max-width: none;
    padding-right: 0;
  }
  .heading_bottom_right_box_title .top_text_small {
    font-size: 20px;
  }
  .heading_bottom_right_box_title .top_text_small_pink {
    font-size: 20px;
  }
  .catalogue {
    display: grid;
    grid-template-columns: repeat(1, 100%);
    gap: 30px;
    justify-content: center;
  }
  .catalogue_text {
    line-height: normal;
    position: absolute;
    left: 0px;
    top: 50%;
    width: 100%;
  }
  .item4 {
    display: flex;
    grid-column: 1;
    width: 100%;
    height: 100%;
    justify-content: center;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .catalogue_img4 {
    height: 111px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .catalogue_text4 {
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    top: 5vh;
    left: 4vh;
    width: 100%;
  }
  .content_article_title {
    font-size: 30px;
  }
  .catalogue_text4 {
    left: 0;
    top: 30px;
  }
  .content_img_box:hover::after {
    top: 50%;
    left: 40%;
  }
  .content_goods {
    grid-template-columns: repeat(1, 100%);
  }
  .good_pinkstyle .good_pinkstyle_img {
    width: 50%;
  }
  .bottom_button {
    margin-bottom: 85px;
  }
  .top_article {
    grid-template-columns: repeat(1, 100%);
  }
  .article1_figure {
    width: 100%;
  }
  .article1_text {
    margin-bottom: 0;
  }
  .top_article {
    padding-bottom: 81px;
  }
  .advantages {
    height: auto;
  }
  .article2 {
    grid-template-columns: repeat(1, 100%);
  }
  .footer {
    gap: 0;
    height: auto;
    flex-direction: column-reverse;
    padding-bottom: 6px;
    padding-top: 43px;
  }
}/*# sourceMappingURL=style.css.map */